<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MCQ Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>QUIZIFY</h1>
        <textarea id="inputText" placeholder="Paste your text here..."></textarea>
        <input type="number" id="numQuestions" placeholder="Number of Questions" min="1" max="10" value="5">
        <button onclick="generateMCQs()">Generate Questions</button>

        <div id="results"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
